Source: com.github.darkoverlordofdata.catmenu
Section: x11
Priority: optional
Maintainer: bruce davidson <brucedavidson@darkoverlordofdata.com> 
Build-Depends: meson,
               debhelper (>= 10.5.1),
               libgee-0.8-dev,
               libgranite-dev,
               libxml-2.0-dev,
               valac (>= 0.30)glock
Standards-Version: 4.1.1
Homepage: https://github.com/darkoverlordofdata/bin

Package: com.github.darkoverlordofdata.catmenu
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: 
Description: Cat menu for OpebBox
